<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Manager</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastr.css">
    <link rel="stylesheet" href="/css/crud.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/crud.js"></script>
</head>
<body>
<th:block th:if="${message!=null}">
    <script th:inline="javascript">
        $.fn.toastr("success", [[${message}]]);
    </script>
</th:block>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Manage <b>Books</b></h2>
                </div>
                <div class="col-md-5">
                    <form action="/">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="tmp btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span id="search_concept" class="tmp" th:text="${by==''?'All':by}"></span> <span class="tmp caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-dropdown" role="menu">
                                    <li><a href="#" th:text="${by=='Title'?'All':'Title'}"></a></li>
                                    <li><a href="#" th:text="${by=='Author'?'All':'Author'}"></a></li>
                                    <li><a href="#" th:text="${by=='Price'?'All':'Price'}"></a></li>
                                    <li><a href="#" th:text="${by=='Publishing Date'?'All':'Publishing Date'}"></a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="by" th:value="${by==''?'All':by}" id="search_param">
                            <input type="text" class="form-control" name="val" placeholder="Search" th:value="${val}">
                            <span class="input-group-btn">
	     <button type="submit" class="tmp btn btn-default" style="height: 34px">
	       <span class="glyphicon glyphicon-search"></span>
	     </button>
	 </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#addEditModal" class="btn btn-success add" data-toggle="modal"><i
                            class="material-icons">&#xE147;</i>
                        <span>Add New Book</span></a>
                    <a href="#deleteModal" class="btn btn-danger delAll" data-toggle="modal"><i
                            class="material-icons">&#xE15C;</i>
                        <span>Delete</span></a>
                </div>

            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${res.getNumber()+1}+  '?by='+${by}+'&val='+${val}+ '&sortField=title&sortDir='+${reverseSortDir}}">Title</a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${res.getNumber()+1}+  '?by='+${by}+'&val='+${val}+ '&sortField=content&sortDir='+${reverseSortDir}}">Author</a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${res.getNumber()+1}+  '?by='+${by}+'&val='+${val}+ '&sortField=category.name&sortDir='+${reverseSortDir}}">Price</a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${res.getNumber()+1}+  '?by='+${by}+'&val='+${val}+ '&sortField=category.name&sortDir='+${reverseSortDir}}">Publishing Date</a>
                </th>
                <th>
                    <a th:href="@{'/page/' + ${res.getNumber()+1}+  '?by='+${by}+'&val='+${val}+ '&sortField=category.name&sortDir='+${reverseSortDir}}">Description</a>
                </th>
                <th><a href="#">Actions</a></th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="item:${res}">
                <td>
                							<span class="custom-checkbox">
                								<input type="checkbox" id="cb" th:value="${item.id}">
                								<label for="cb"></label>
                							</span>
                </td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.publishingDate}" }></td>
                <td th:text="${item.description}" }></td>
                <td>
                    <a href="#viewModal" class="view" data-toggle="modal" th:data-title="${item.title}"
                       th:data-author="${item.author}" th:data-price="${item.price}"
                       th:data-publishing="${item.publishingDate}" th:data-description="${item.description}"><i class="material-icons">&#xE417;</i></a>

                    <a href="#addEditModal" class="edit" data-toggle="modal" th:data-id="${item.id}"
                       th:data-title="${item.title}" th:data-author="${item.author}" th:data-price="${item.price}"
                       th:data-publishing="${item.publishingDate}" th:data-description="${item.description}"><i class="material-icons" data-toggle="tooltip"
                                                                                                        title="Edit">&#xE254;</i></a>
                    <a th:data-id="${item.id}" href="#deleteModal" class="delete" data-toggle="modal"><i
                            class="material-icons"
                            data-toggle="tooltip"
                            title="Delete">&#xE872;</i></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="clearfix" th:with="so=${res.sort.iterator().next()}">
            <div class="hint-text">Showing
                <b>[[${res.getContent().size()}]]</b> out of <b>[[${res.getTotalElements()}]]</b> entries
            </div>

            <ul class="pagination" th:if="${res.getContent().size()>0}">
                <li th:if="${res.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{'/page/' + ${res.getNumber()}+ '?by='+${by}+'&val='+${val}+ '&sortField=' +${so.getProperty()}+'&sortDir='+${so.getDirection().name()}}">Previous</a>
                </li>
                <li th:unless="${res.hasPrevious()}" class="page-item disabled">
                    <a href="#">Previous</a>
                </li>

                <li class="page-item" th:each="i: ${#numbers.sequence(1, res.getTotalPages())}"
                    th:classappend="${i == res.getNumber()+1? 'active':''}">
                    <a class="page-link"
                       th:href="@{'/page/' + ${i}+ '?by='+${by}+'&val='+${val}+ '&sortField=' +${so.getProperty()}+'&sortDir='+${so.getDirection().name()}}">[[${i}]]</a>
                </li>

                <li th:if="${res.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{'/page/' + ${res.getNumber() + 2}+  '?by='+${by}+'&val='+${val}+ '&sortField=' +${so.getProperty()}+'&sortDir='+${so.getDirection().name()}}">Next</a>
                </li>
                <li th:unless="${res.hasNext()}" class="page-item disabled">
                    <a href="#">Next</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div id="viewModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Title:</label>
                    <label style="color: blue;padding-left: 5px" class="viewTitle"></label>
                </div>
                <div class="form-group">
                    <label>Author:</label>
                    <label style="color: blue;padding-left: 5px" class="viewAuthor"></label>
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <label style="color: blue;padding-left: 5px" class="viewPrice"></label>
                </div>
                <div class="form-group">
                    <label>Publishing Date:</label>
                    <label style="color: blue;padding-left: 5px" class="viewPublishing"></label>
                </div>
                <div class="form-group">
                    <label>Desciption:</label>
                    <label style="color: blue;padding-left: 5px" class="viewDescription"></label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            </div>
        </div>
    </div>
</div>

<div id="addEditModal" class="modal fade">
    <div class="modal-dialog">
        <form th:object="${book}" id="fAddEdit" method="post" action="/addEdit">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input name="id" type="hidden" th:value="${book.id}">
                    <div class="form-group">
                        <label>Title</label>
                        <input name="title" type="text" class="form-control">
                        <label style="font-style: italic;color: red" id="lbErrorTitle" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></label>
                    </div>
                    <div class="form-group">
                        <label>Author:</label>
                        <input name="author" type="text" class="form-control">
                        <label style="font-style: italic;color: red" d="lbErrorAuthor" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></label>
                    </div>
                    <div class="form-group">
                        <label>Price:</label>
                        <input name="price" type="text" class="form-control">
                        <label style="font-style: italic;color: red" d="lbErrorPrice" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></label>
                    </div>
                    <div class="form-group">
                        <label>Publishing Date:</label>
                        <input name="publishingDate" type="date" class="form-control">
                        <label style="font-style: italic;color: red" d="lbErrorPublishing" th:if="${#fields.hasErrors('publishingDate')}" th:errors="*{publishingDate}"></label>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input name="description" type="text" class="form-control">
                        <label style="font-style: italic;color: red" d="lbErrorDescription" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <form method="post" action="/delete">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Book</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these records?</p>
                    <p class="text-warning">
                        <small>These action cannot be undone.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id" id="hfDel">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(".view").click(function () {
        $("label[class='viewTitle']").text($(this).data("title"));
        $("label[class='viewAuthor']").text($(this).data("author"));
        $("label[class='viewPrice']").text($(this).data("price"));
        $("label[class='viewPublishing']").text($(this).data("publishing"));
        $("label[class='viewDescription']").text($(this).data("description"));
    });

    $(".edit").click(function () {
        $(".modal-title").text("Edit Book");
        $("input[name='id']").val($(this).data("id"));
        $("input[name='title']").val($(this).data("title"));
        $("input[name='author']").val($(this).data("author"));
        $("input[name='price']").val($(this).data("price"));
        $("input[name='publishingDate']").val($(this).data("publishing"));
        $("input[name='description']").val($(this).data("description"));
        $("#lbErrorTitle").hide();
        $("#lbErrorAuthor").hide();
        $("#lbErrorPrice").hide();
        $("#lbErrorPublishing").hide();
        $("#lbErrorDescription").hide();
    });

    $(".add").click(function () {
        $(".modal-title").text("Add Book");
        $("input[name='id']").val("0");
        $("input[name='title'],input[name='author'],input[name='price'],input[name='publishingDate'],input[name='description']").val("");
        $("#lbErrorTitle").hide();
        $("#lbErrorAuthor").hide();
        $("#lbErrorPrice").hide();
        $("#lbErrorPublishing").hide();
        $("#lbErrorDescription").hide();
    });
</script>

<script th:inline="javascript">
    if([[${isError}]]){
        $(".modal-title").text([[${book.id}]]==0?"Add Book":"Edit Book");
        $("input[name='title']").val([[${book.title}]]);
        $("input[name='author']").val([[${book.author}]]);
        $("input[name='price']").val([[${book.price}]]);
        $("input[name='publishingDate']").val([[${book.publishingDate}]]);
        $("input[name='description']").val([[${book.description}]]);
        $("#addEditModal").modal('show');
    }
</script>
</body>
</html>